header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color:#2196f3;
    color: white;
    display: flex;
    overflow-x: auto;
}

header-2 {
    position: fixed;
    top: 54px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 99;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 999;
    background-color: aquamarine;
}


.toolbar-button{
    display: inline;
    margin: 10px;
    
}

.toolbar-button:active{
    opacity: 0.5;
}

/* https://codepen.io/dcode-software/pen/wvagWEP */
.nav {
    position: fixed;
    bottom: 0;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    z-index: 999;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:active {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}

.sidenav-main {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align:center;
    background: white;
    /* box-shadow: 2px 1px 10px #999; */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  }
  
  .sidenav-main .closebtn {
    top: 0;
    font-size: 36px;
    user-select: none;
    cursor: none;
    position: absolute;
    right: 0;
    color: #f44336;
  }
  
  .sidenav-main a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav-header {
    height: 160px;
    background: #1e88e5;
    vertical-align: middle;
    text-align: center;
    line-height: 160px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    /* background-image: linear-gradient(to top, #3276db, #2d7be3, #2580ea, #1a86f2, #038bfa); */
    /* background-image: linear-gradient(to top, #1e88e5, #0092e8, #009cea, #00a6eb, #12afeb); */
  }

  .sidenav-version {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 20px;
    color: #818181;
  }

  .card-added-msg-box {
    position: fixed;
    bottom: 60px;
    left: 0px;
    right: 0px;
    background-color: #66bb6a;
    text-align: center;
  }

  .card-added-msg{
    color: white;
  }

#snackbar {
    visibility: hidden;
    /* min-width: 250px; */
    /* margin-left: -125px; */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    /* left: 50%; */
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 10px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 60px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 60px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 60px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 60px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  hr.thin {
    height: 3px;
    border: 0;
    color: #F44336;
    background-color: #F44336;
    width: 97%;
    }